.btn-primary {
  color: #fff;
    background-color: #219897 !important;
    border-color: #219897 !important;
}

.bg-black {
  background-color: #000000 !important;
}

.sidebar .nav-item.active {
  color: #fff;
    background-color: #219897 !important;
    border-color: #219897 !important;
}

.sidebar-dark .nav-item .nav-link {
  font-size: 20px !important;
  color: #fff !important;
}

.sidebar-dark .nav-item .nav-link i {
  font-size: 20px !important;
  margin-right: 1rem !important;
  color: #fff !important;
}

.bg-card-primary {
  background-color: #3DE8DF !important;
  color: #fff !important;
}

.bg-card-success {
  background-color: #00C3C1 !important;
  color: #fff !important;
}

.bg-card-info {
  background-color: #219897 !important;
  color: #fff !important;
}

.bg-card-warning {
  background-color: #3B2B85 !important;
  color: #fff !important;
}

.card-header {
  background-color: transparent !important;
}

.pagination-status .pagination-status__btn--active, .pagination-status .pagination-status__btn:hover {
  color: #fff !important;
  background-color: #219897 !important;
  border-color: #219897 !important;
}

.pagination-status .pagination-status__btn {
  color: #219897 !important;
}

.pagination-status .pagination-status__btn--active {
  color: #fff !important;
}

.status .pagination-status {
  float: right;
}