.cls-1, .cls-9 {
    fill: #a6ea9d;
}

.cls-2 {
    fill: #e9e9f0;
}

.cls-3, .cls-5, .cls-6 {
    fill: #fff;
}

.cls-3 {
    stroke: #ccc;
}

.cls-4 {
    fill: #ccc;
}

.cls-5 {
    stroke: #b1ecaa;
}

.cls-7, .cls-9 {
    stroke: none;
}

.cls-8 {
    fill: none;
}